body {
  background-color: #FFF;
  height: 7299px; }

header {
  background: url("../img/backg_head.jpg") center center no-repeat;
  background-size: cover;
  height: 697px; }

.blog {
  height: 665px;
  background: url("../img/backg_blog.png") #f6f4f4 center center no-repeat;
  background-size: cover; }

.journal {
  height: 1069px; }

.offer {
  height: 646px;
  background: url("../img/backg_offer.png") #f6f4f4 center center no-repeat;
  background-size: cover; }

.scheme {
  height: 642px; }

.travel {
  height: 1098px;
  background: url("../img/backg_travel.png") #f6f4f4 center center no-repeat;
  background-size: cover; }

.gallery {
  height: 944px; }

.logos {
  height: 179px;
  background-color: #f8f9fa; }

.our {
  height: 1277px;
  background: url("../img/backg_our.png") #f6f4f4 center center no-repeat;
  background-size: cover; }

footer {
  height: 82px;
  background-color: #3e5d68; }
