@import reset

$wayimg: "../img/"
$waysprt: "../img_orig/sprites/"
$veralg: middle //middle

=chva
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)

=cv
	position: absolute
	top: 50%
	transform: translate(0,-50%)	

=ch
	position: absolute
	left: 50%
	transform: translate(-50%,0)

=cf
	//*zoom: 1
	&:before,
	&:after
		content: ""
		display: table
	&:before
		clear: both

body
	background-color: #FFF
	height: 7299px//--------------------- 
	font-family: OpenSans

.wrapper
	width: 1130px
	margin: 0 auto

.header-main__icon-logo
	background: url($wayimg + "logo.png") center center no-repeat
	//background-size: cover 
	width: 117px
	height: 27px

.header-main
	background: url($wayimg + "backg_head.jpg") center center no-repeat
	background-size: cover 
	height: 697px//---------------------
.header-main__bg
	height: 86px
	background-color: rgba(255, 255, 255, 0.23)
	overflow: hidden
.header-main__wrap
	//height: 100%
	width: 1130px
	margin: 23px auto 0 auto
	//margin-top: 23px
.header-main__icon-logo
	display: inline-block
	vertical-align: $veralg
	margin-left: 11px
.header-main__nav
	display: inline-block
	vertical-align: $veralg
	margin-left: 60px 
	ul
		display: inline-block
		position: relative
		top: 5px
		overflow: hidden
		li
			margin-left: 25px
			font-size: 12px
			color: rgb(157, 174, 182)
			font-weight: bold
			text-transform: uppercase
			line-height: 1.667//3.667
			float: left
			//display: inline-block
			//vertical-align: $veralg
			overflow: hidden
		a
			//display: inline-block
			//vertical-align: $veralg
			///height: 32px
			//margin-top: 20px
			cursor: pointer
			color:  rgb(157, 174, 182)
			//overflow: hidden
		li:nth-child(1)
			margin-left: 0
.header-main__nav--active
	border-bottom: 3px solid rgb(54, 174, 234) 

.button
	display: inline-block
	vertical-align: $veralg
	//border: rgb(54, 174, 234) 3px solid
	border-radius: 4px
	width: 147px
	//margin-left: 246px//275px
	font-size: 12px
	font-family: "Raleway"
	color: rgb(54, 174, 234)
	font-weight: bold
	text-transform: uppercase
	line-height: 3.0//3.667
	text-align: center
	cursor: pointer
	&--menu
		margin-left: 246px//275px
		border: rgb(54, 174, 234) 3px solid

.header-main__wrap--h1
	margin-top: 130px
	padding-left: 37px
	padding-top: 43px
	overflow: hidden

.header-main__h1
	font-size: 50px
	font-family: "OpenSans"
	color: rgb(255, 255, 255)
	font-weight: bold
	text-transform: uppercase
	line-height: 1.2
	text-align: left
	//margin-top: 43px
	//margin-left: 37px

.header-main__h1--none
	display: none

.header-main__h1-vector
	width: 485px
	margin-bottom: 26px
	//margin-top: 43px
	//margin-left: 37px

.header-main__descr
	font-size: 18px
	font-family: "OpenSans"
	color: rgba(255, 255, 255, 0.749)
	line-height: 1.611
	text-align: left
	margin-bottom: 25px

.button--h1
	border: none
	background: rgb(54, 174, 234)
	width: 253px
	font-size: 14px
	font-family: "Raleway"
	color: rgb(255, 255, 255)
	font-weight: bold
	text-transform: uppercase
	line-height: 3.143
	text-align: center
	margin: 0

		


.blog
	height: 665px//---------------------
	background: url($wayimg + "backg_blog.png") #f6f4f4 center center no-repeat
	background-size: cover 
	&__wrap
		width: 1130px
		margin: 0 auto
		position: relative
		overflow: hidden
		height: 665px//---------------------
		padding-top: 202px
	&__about
		//margin-top: 50px
		margin-bottom: 30px
		font-size: 23.401px
		font-family: "OpenSans"
		color: rgb(44, 46, 55)
		font-weight: bold
		text-transform: uppercase
		line-height: 2.137
		text-align: left
	&__h1
		//margin-top: 30px
		margin-bottom: 34px
		font-size: 14px
		font-family: "OpenSans"
		color: rgb(148, 148, 148)
		line-height: 1.857
		text-align: left
	&__bg1
		position: absolute
		right: -215px
		top: -35px
	&__bg2
		position: absolute
		right: 328px
		top: 275px

.button--blog
	//margin-top: 34px
	margin: 0
	border: none
	background: rgb(54, 174, 234)
	width: 130px
	font-size: 14.041px
	font-family: "OpenSans"
	color: rgb(255, 255, 255)
	font-weight: bold
	text-transform: uppercase
	line-height: 3.561
	text-align: center

.icon-polyline--blog
	//margin-top: 202px
	margin-bottom: 50px

.journal
	height: 1069px//---------------------

.journal__wrap
	padding-top: 70px
	text-align: center

.icon-polyline--journal
	margin-bottom: 35px

.jornal__h1
	margin-bottom: 70px
	font-size: 35.102px
	font-family: "OpenSans"
	color: rgb(44, 46, 55)
	font-weight: bold
	text-transform: uppercase
	line-height: 1 //1.424
	text-align: center

.journal__post-wrap
	background-color: rgb(255, 255, 255)
	opacity: 0.851
	box-shadow: 0px 0px 21px 0px rgba(6, 6, 6, 0.13)
	width: 1130px
	margin: 0 auto
	overflow: hidden

.journal__post
	height: 380px
	width: 66.6%
	//text-align: center
	//position: relative
	//padding-top: 150px
	overflow: hidden
	float: left
	&--water
		float: right
		width: 33.3%
		height: 740px

.journal__pic
	height: 380px
	width: 50%
	text-align: center
	position: relative
	padding-top: 150px
	float: left
	&--love
		background: url("../img/journal__hearth-bg.jpg") right no-repeat
	&--tree
		//clear: both
		background: url("../img/journal__leaf-bg.jpg") right no-repeat
	&--water
		width: 100%
		clear: both
		background: url("../img/journal__drop-bg.jpg") right no-repeat


.icon-journal__post-bg--heart-pos
	position: absolute
	right: -1px
	top: 50px

.icon-journal__post-bg--tree-pos
	position: absolute
	transform: rotate(180deg)
	left: -1px
	top: 50px

.icon-journal__post-bg--water-pos
	position: absolute
	transform: rotate(90deg)
	transform-origin: 0 50% 0
	bottom: -1px
	left: 50px

.icon-journal-heart--pos
	//margin: 0 auto
	+chva

.icon-journal-leaf--pos
	+chva


.icon-journal-drop--pos
	//margin: 0 auto
	+chva

.journal__post-dsc
	height: 380px
	width: 50%
	//float: left
	overflow: hidden
	text-align: center
	&--water
		width: 100%
		overflow: hidden
	&--tree
		float: left

.journal__post-title
	font-size: 11.579px
	font-family: "OpenSans"
	color: rgb(22, 181, 239)
	font-weight: bold
	line-height: 8.14//1.14

.journal__post-h1
	font-size: 17px
	font-family: "OpenSans"
	color: rgb(33, 33, 33)
	font-weight: bold
	text-transform: uppercase
	line-height: 1.5
	padding-left: 30px
	padding-right: 30px
	margin-bottom: 25px


.journal__post-p
	font-size: 14.737px
	font-family: "OpenSans"
	color: rgb(119, 119, 119)
	line-height: 1.629
	padding-left: 55px
	padding-right: 55px


.journal__post-num
	font-size: 14.737px
	font-family: "Times New Roman"
	color: rgb(33, 33, 33)
	line-height: 5.221//1.221


//.icon-journal_heart
	

/*.journal__post--tree
	transform: scale(1, -1)
	direction: rtl */


.offer
	height: 646px//---------------------
	background: url($wayimg + "backg_offer.jpg") #f6f4f4 center center no-repeat
	background-size: cover 
	//overflow: hidden
	padding-top: 145px
	&__wrap
		width: 1130px
		margin: 0 auto
		//margin-top: 145px
	&__h1
		font-size: 23.401px
		font-family: "OpenSans"
		color: rgb(44, 46, 55)
		font-weight: bold
		text-transform: uppercase
		line-height: 1.0//2.137
		text-align: left
		margin-bottom: 20px
	&__p
		font-size: 16px
		font-family: "OpenSans"
		color: rgb(148, 148, 148)
		line-height: 1.625
		text-align: left
		margin-bottom: 15px
	&__form
		display: inline-block
		background-color: rgb(255, 255, 255)
		border-radius: 3px
		border: 2px solid #fff
		&-text
			//position: absolute
			//left: 0
			//top: 0
			//content: "Your name:"
			display: inline-block
			vertical-align: $veralg
			padding: 0 20px
			font-size: 16px
			font-family: "OpenSans"
			color: rgb(132, 132, 132)
			line-height: 1.2
			text-align: center
			//z-index: 10000
			&--phone:before
				display: inline-block
				vertical-align: $veralg
				content: ""
				width: 1px
				height: 35px
				//+cv
				position: relative
				right: 20px
				//top: 7px
				background-color: #ebebeb
	&__form-name
		position: relative
		border: none
	&__form-phone
		border: none
		margin-right: 20px
	&__warn
		display: inline-block
		vertical-align: $veralg
		font-size: 14px
		font-family: "OpenSans"
		color: rgb(54, 174, 234)
		line-height: 2.429
		text-align: left
		margin-left: 5px
	
.button--offer
	width: auto
	border: none
	background: rgb(54, 174, 234)
	color: #fff	
	font-size: 16px
	font-family: "OpenSans"
	color: rgb(255, 255, 255)
	font-weight: bold
	line-height: 3.7
	padding: 0 57px
	text-align: center

.icon-offer__locked--pos
	display: inline-block
	vertical-align: $veralg

.icon-polyline--offer
	margin-bottom: 55px

.scheme
	//height: 642px//--------------------
	margin-bottom: 100px
	&__wrap
		width: 1130px
		margin: 0 auto
		padding: 70px 0px 0 0px
		text-align: center
		overflow: hidden
	&__h1
		margin-bottom: 31px
		font-size: 35.102px
		font-family: "OpenSans"
		color: rgb(44, 46, 55)
		font-weight: bold
		text-transform: uppercase
		line-height: 1.0//1.424
	&__bg1
		height: 76px
		width: 510px
		border: 2px solid #404041
		border-radius: 8px
		margin: 0 auto
		position: relative
	&__1234
		position: relative
		top: -31px
		background: url("../img/scheme__block-bg.png") no-repeat center 19px
		overflow: hidden
	&__block
		width: 200px
		text-align: center
		float: left
		margin-right: 93px
		&-num
			width: 47px
			height: 47px
			font-size: 16px
			font-family: "Roboto"
			color: rgb(59, 176, 235)
			text-transform: uppercase
			line-height: 2.625//3.125
			text-align: center
			border-radius: 50%
			border: 2px solid #36aeea
			background-color: #fff
			margin: 0 auto 60px auto
		&-icon
			width: 180px
			height: 180px
			border-radius: 50%
			background-color: #f0f3f6
			margin: 0 auto 30px auto
			position: relative
		&-h1
			font-size: 18px
			font-family: "Roboto"
			font-weight: bold
			color: rgb(44, 46, 55)
			line-height: 1.0//1.333
			text-align: center
		&-p
			font-size: 18px
			font-family: "Roboto"
			color: rgb(44, 46, 55)
			line-height: 1.333
			text-align: center
	&__block:nth-child(5)
		margin-right: 25px
	&__block:nth-child(2)
		margin-left: 25px
	&__circle
		width: 25px
		height: 25px
		border: 2px solid #fff
		border-radius: 50%
		background-color: #f4d03f
		+ch
		bottom: -14px
		
.icon-polyline--scheme
	margin: 0 auto 37px auto

.icon-scheme_bg--pos
	+chva
	top: 53%

.icon-scheme_copy--pos, .icon-scheme_ok--pos, .icon-scheme_read--pos, .icon-scheme_pip--pos
	+chva

.icon-scheme__drop2--pos
	position: absolute
	left: 5px
	top: 138px

.icon-scheme__drop1--pos
	position: absolute
	right: 1px
	top: 138px

.travel
	height: 1098px//---------------------
	background: url($wayimg + "backg_travel.png") #f6f4f4 center 24px no-repeat
	background-size: cover 
	&__wrap
		width: 1130px
		margin: 0 auto 0 auto
		//padding: 0px 0px 0 0px
		text-align: center
		overflow: hidden
		//position: relative
	&__h1
		margin: 0 auto 100px auto
		font-size: 35.102px
		font-family: "OpenSans"
		color: rgb(44, 46, 55)
		font-weight: bold
		text-transform: uppercase
		line-height: 1.0//1.424
		text-align: center
	&__block
		float: left
		margin-right: 32px
		padding-top: 15px
		width: 200px
		height: 380px
		border-radius: 1px
		&--1
			background: url("../img/travel_carp_bg.jpg") center center no-repeat
		&--2
			background: url("../img/travel_alps_bg.jpg") center center no-repeat
		&--3
			background: url("../img/travel_pyrenees_bg.jpg") center center no-repeat
		&--4
			background: url("../img/travel_rocky_bg.jpg") center center no-repeat
		&--5
			background: url("../img/travel_kavkaz_bg.jpg") center center no-repeat
		&-h1
			margin-bottom: 22px
			font-size: 28px
			font-family: "OpenSans"
			color: rgb(255, 255, 255)
			line-height: 1.0
			text-align: left
			padding-left: 22px
			padding-right: 22px
		&-p
			margin-bottom: 64px
			font-size: 16px
			font-family: "OpenSans"
			color: rgb(255, 255, 255)
			line-height: 1.375
			text-align: left
			padding-left: 22px
			padding-right: 22px
		&-price
			//background-color: rgb(0, 0, 0)
			//opacity: 0.2
			height: 61px
			overflow: hidden
			padding-top: 18px
			//padding: 0 13px 0 18px
			&-full
				display: inline-block
				//float: left
				width: 49%
				vertical-align: $veralg
				text-align: left
				padding-left: 18px
				font-size: 18px
				font-family: "OpenSans"
				color: rgb(255, 255, 255)
				text-decoration: line-through
				//height: 61px
				line-height: 1//1.222
			&-sale
				display: inline-block
				//float: left
				width: 49%
				vertical-align: $veralg
				text-align: right
				padding-right: 13px
				font-size: 26px
				font-family: "OpenSans"
				color: rgb(255, 255, 255)
				//height: 61px
				line-height: 1//0.846
	&__block:nth-child(7)
		margin-right: 0
	&__star
		margin-bottom: 130px
		padding-left: 22px
		overflow: hidden

.icon-polyline--travel
	margin: 0 auto 37px auto
	//position: relative
	//top: -10px

.icon-star--travel
	margin-right: 4px
	float: left


.gallery
	height: 944px//---------------------
	&__wrap
		width: 1130px
		margin: 0 auto 80px auto
		padding-top: 70px
		overflow: hidden
		//column-gap: normal
		//column-count: 3
		//column-width: auto
		//column-rule: 15px solid #fff
	/*	&--flex
			display: flex
			flex-direction: column 
			flex-wrap: wrap
			justify-content: space-between
			align-content: space-between
			height: 650px */
	&__h1
		margin: 0 auto 74px auto
		font-size: 35.102px
		font-family: "OpenSans"
		color: rgb(44, 46, 55)
		font-weight: bold
		text-transform: uppercase
		line-height: 1.424
		text-align: center
	&__col
		float: left
		margin-right: 24px
		img
			display: block
			margin-bottom: 24px
	&__col:nth-child(5)
		margin-right: 0

.icon-polyline--gallery
	margin: 0 auto 34px auto

.logos
	height: 179px//---------------------
	background-color: #f8f9fa
	&__wrap
		display: flex
		//overflow: hidden
		flex-flow: row nowrap
		justify-content: space-between
		align-items: center 
		width: 1130px
		height: 100%//---------------------
		margin: auto

.our
	height: 1277px//---------------------
	background: url($wayimg + "backg_our.png") #f6f4f4 center center no-repeat
	background-size: cover
	&__wrap
		width: 1130px
		margin: 0 auto 0px auto
		padding-top: 70px
		overflow: hidden
	&__h1
		font-size: 35.102px
		font-family: "OpenSans"
		color: rgb(44, 46, 55)
		font-weight: bold
		text-transform: uppercase
		line-height: 1.424
	&__people
		width: 48%
		float: left
		padding-left: 13px
		padding-right: 13px
		margin-right: 32px
		margin-bottom: 140px
		overflow: hidden
		&-quot
			font-size: 92px
			font-family: "LeagueGothic"
			color: rgb(117, 134, 151)
			line-height: 0.359
			text-align: left
		&-p
			font-size: 18px
			font-family: "OpenSans"
			color: rgb(188, 188, 188)
			line-height: 1.833
			text-align: justify
			text-align-last: left
			margin-bottom: 20px
		&-photo
			display: inline-block
			vertical-align: $veralg
			background: url("../img/our_bg1.png") center center no-repeat
			background-size: cover
			border-radius: 50%
			width: 65px
			height: 65px
		&-name
			display: inline-block
			vertical-align: $veralg
			font-size: 16px
			font-family: "OpenSans"
			color: rgb(54, 174, 234)
			//font-weight: bold
			line-height: 2.063
			text-align: left
			padding-left: 18px
	&__people:nth-child(4)
		margin-right: 0
	&__contact
		background: url("../img/our__contacts-bg.jpg") center center no-repeat
		background-size: cover
		width: 515px
		padding: 40px 30px 0 30px
		border-radius: 2px
		margin: 0 auto 0 auto
		clear: both
		//overflow: hidden
		//+cf
		&-h1
			font-size: 36px
			font-family: "OpenSans"
			color: #36aeea//rgb(54, 174, 234)
			text-transform: uppercase
			font-weight: bold
			line-height: 1.2
			text-align: center
		&-p
			font-size: 16px
			font-family: "OpenSans"
			color: #383e4a
			//font-weight: bold
			line-height: 1.2
			text-align: center
			margin-bottom: 40px
		input
			width: 100%
			padding-left: 20px
			height: 60px
			margin-bottom: 20px
			border-radius: 4px
			box-shadow: none
			border: none
			font-size: 18px
			font-family: "Roboto"
			color: rgb(204, 204, 204)
			line-height: 1.2
		&-send
			height: 70px
			//width: 100%
			background-color: #36aeea
			text-align: center
			padding-left: 0	
			cursor: pointer		

.icon-polyline--our
	margin: 0 auto 35px auto


.footer
	height: 82px//---------------------
	background-color: #3e5d68
	&__wrap
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		align-items: center 
		width: 1130px
		height: 100%//---------------------
		margin: auto
		width: 1130px
		//padding-top: 70px
		overflow: hidden
	&__copyr
		//display: inline-block
		font-size: 18px
		font-family: "OpenSans"
		color: #76aabd//rgb(255, 255, 255)
		line-height: 1.2
		text-align: left
	&__social
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		align-items: center 
	&__twitter
		display: flex
		//margin: auto
		width: 40px
		height: 40px
		background-color: #29c5f6
		margin-right: 8px
		box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3)
	&__facebook
		display: flex
		//flex-flow: row nowrap
		//justify-content: space-between
		//align-items: center 
		//margin: auto
		width: 40px
		height: 40px
		background-color: #6788ce
		margin-right: 8px
		box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3)
	&__vk
		position: relative
		//display: flex
		//margin: auto
		width: 40px
		height: 40px
		background-color: #54769a
		//margin-right: 4px
		box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3)
	&__tel
		font-size: 27px
		font-family: "Roboto"
		color: #7cc0d4//rgb//(255, 255, 255)
		line-height: 1.2
		text-align: left

.icon-footer_vk--pos
	+chva
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)

.icon-footer_facebook--pos
	margin: auto
	//box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)

.icon-footer_twitter--pos
	margin: auto
	//box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)






