html, * {
  box-sizing: border-box; }

body, div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img,
abbr {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ul li {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: normal;
  font-weight: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

legend {
  color: #000; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

a {
  text-decoration: none; }

body {
  background-color: #FFF;
  height: 7299px;
  font-family: OpenSans; }

.wrapper {
  width: 1130px;
  margin: 0 auto; }

.header-main__icon-logo {
  background: url("../img/logo.png") center center no-repeat;
  width: 117px;
  height: 27px; }

.header-main {
  background: url("../img/backg_head.jpg") center center no-repeat;
  background-size: cover;
  height: 697px; }

.header-main__bg {
  height: 86px;
  background-color: rgba(255, 255, 255, 0.23);
  overflow: hidden; }

.header-main__wrap {
  width: 1130px;
  margin: 23px auto 0 auto; }

.header-main__icon-logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 11px; }

.header-main__nav {
  display: inline-block;
  vertical-align: middle;
  margin-left: 60px; }
  .header-main__nav ul {
    display: inline-block;
    position: relative;
    top: 5px;
    overflow: hidden; }
    .header-main__nav ul li {
      margin-left: 25px;
      font-size: 12px;
      color: #9daeb6;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.667;
      float: left;
      overflow: hidden; }
    .header-main__nav ul a {
      cursor: pointer;
      color: #9daeb6; }
    .header-main__nav ul li:nth-child(1) {
      margin-left: 0; }

.header-main__nav--active {
  border-bottom: 3px solid #36aeea; }

.button {
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  width: 147px;
  font-size: 12px;
  font-family: "Raleway";
  color: #36aeea;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3;
  text-align: center;
  cursor: pointer; }
  .button--menu {
    margin-left: 246px;
    border: #36aeea 3px solid; }

.header-main__wrap--h1 {
  margin-top: 130px;
  padding-left: 37px;
  padding-top: 43px;
  overflow: hidden; }

.header-main__h1 {
  font-size: 50px;
  font-family: "OpenSans";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left; }

.header-main__h1--none {
  display: none; }

.header-main__h1-vector {
  width: 485px;
  margin-bottom: 26px; }

.header-main__descr {
  font-size: 18px;
  font-family: "OpenSans";
  color: rgba(255, 255, 255, 0.749);
  line-height: 1.611;
  text-align: left;
  margin-bottom: 25px; }

.button--h1 {
  border: none;
  background: #36aeea;
  width: 253px;
  font-size: 14px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3.143;
  text-align: center;
  margin: 0; }

.blog {
  height: 665px;
  background: url("../img/backg_blog.png") #f6f4f4 center center no-repeat;
  background-size: cover; }
  .blog__wrap {
    width: 1130px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 665px;
    padding-top: 202px; }
  .blog__about {
    margin-bottom: 30px;
    font-size: 23.401px;
    font-family: "OpenSans";
    color: #2c2e37;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.137;
    text-align: left; }
  .blog__h1 {
    margin-bottom: 34px;
    font-size: 14px;
    font-family: "OpenSans";
    color: #949494;
    line-height: 1.857;
    text-align: left; }
  .blog__bg1 {
    position: absolute;
    right: -215px;
    top: -35px; }
  .blog__bg2 {
    position: absolute;
    right: 328px;
    top: 275px; }

.button--blog {
  margin: 0;
  border: none;
  background: #36aeea;
  width: 130px;
  font-size: 14.041px;
  font-family: "OpenSans";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3.561;
  text-align: center; }

.icon-polyline--blog {
  margin-bottom: 50px; }

.journal {
  height: 1069px; }

.journal__wrap {
  padding-top: 70px;
  text-align: center; }

.icon-polyline--journal {
  margin-bottom: 35px; }

.jornal__h1 {
  margin-bottom: 70px;
  font-size: 35.102px;
  font-family: "OpenSans";
  color: #2c2e37;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  text-align: center; }

.journal__post-wrap {
  background-color: white;
  opacity: 0.851;
  box-shadow: 0px 0px 21px 0px rgba(6, 6, 6, 0.13);
  width: 1130px;
  margin: 0 auto;
  overflow: hidden; }

.journal__post {
  height: 380px;
  width: 66.6%;
  overflow: hidden;
  float: left; }
  .journal__post--water {
    float: right;
    width: 33.3%;
    height: 740px; }

.journal__pic {
  height: 380px;
  width: 50%;
  text-align: center;
  position: relative;
  padding-top: 150px;
  float: left; }
  .journal__pic--love {
    background: url("../img/journal__hearth-bg.jpg") right no-repeat; }
  .journal__pic--tree {
    background: url("../img/journal__leaf-bg.jpg") right no-repeat; }
  .journal__pic--water {
    width: 100%;
    clear: both;
    background: url("../img/journal__drop-bg.jpg") right no-repeat; }

.icon-journal__post-bg--heart-pos {
  position: absolute;
  right: -1px;
  top: 50px; }

.icon-journal__post-bg--tree-pos {
  position: absolute;
  transform: rotate(180deg);
  left: -1px;
  top: 50px; }

.icon-journal__post-bg--water-pos {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 0 50% 0;
  bottom: -1px;
  left: 50px; }

.icon-journal-heart--pos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.icon-journal-leaf--pos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.icon-journal-drop--pos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.journal__post-dsc {
  height: 380px;
  width: 50%;
  overflow: hidden;
  text-align: center; }
  .journal__post-dsc--water {
    width: 100%;
    overflow: hidden; }
  .journal__post-dsc--tree {
    float: left; }

.journal__post-title {
  font-size: 11.579px;
  font-family: "OpenSans";
  color: #16b5ef;
  font-weight: bold;
  line-height: 8.14; }

.journal__post-h1 {
  font-size: 17px;
  font-family: "OpenSans";
  color: #212121;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 25px; }

.journal__post-p {
  font-size: 14.737px;
  font-family: "OpenSans";
  color: #777777;
  line-height: 1.629;
  padding-left: 55px;
  padding-right: 55px; }

.journal__post-num {
  font-size: 14.737px;
  font-family: "Times New Roman";
  color: #212121;
  line-height: 5.221; }

/*.journal__post--tree
 * transform: scale(1, -1)
 * direction: rtl */
.offer {
  height: 646px;
  background: url("../img/backg_offer.jpg") #f6f4f4 center center no-repeat;
  background-size: cover;
  padding-top: 145px; }
  .offer__wrap {
    width: 1130px;
    margin: 0 auto; }
  .offer__h1 {
    font-size: 23.401px;
    font-family: "OpenSans";
    color: #2c2e37;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    margin-bottom: 20px; }
  .offer__p {
    font-size: 16px;
    font-family: "OpenSans";
    color: #949494;
    line-height: 1.625;
    text-align: left;
    margin-bottom: 15px; }
  .offer__form {
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    border: 2px solid #fff; }
    .offer__form-text {
      display: inline-block;
      vertical-align: middle;
      padding: 0 20px;
      font-size: 16px;
      font-family: "OpenSans";
      color: #848484;
      line-height: 1.2;
      text-align: center; }
      .offer__form-text--phone:before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        width: 1px;
        height: 35px;
        position: relative;
        right: 20px;
        background-color: #ebebeb; }
  .offer__form-name {
    position: relative;
    border: none; }
  .offer__form-phone {
    border: none;
    margin-right: 20px; }
  .offer__warn {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-family: "OpenSans";
    color: #36aeea;
    line-height: 2.429;
    text-align: left;
    margin-left: 5px; }

.button--offer {
  width: auto;
  border: none;
  background: #36aeea;
  color: #fff;
  font-size: 16px;
  font-family: "OpenSans";
  color: white;
  font-weight: bold;
  line-height: 3.7;
  padding: 0 57px;
  text-align: center; }

.icon-offer__locked--pos {
  display: inline-block;
  vertical-align: middle; }

.icon-polyline--offer {
  margin-bottom: 55px; }

.scheme {
  margin-bottom: 100px; }
  .scheme__wrap {
    width: 1130px;
    margin: 0 auto;
    padding: 70px 0px 0 0px;
    text-align: center;
    overflow: hidden; }
  .scheme__h1 {
    margin-bottom: 31px;
    font-size: 35.102px;
    font-family: "OpenSans";
    color: #2c2e37;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1; }
  .scheme__bg1 {
    height: 76px;
    width: 510px;
    border: 2px solid #404041;
    border-radius: 8px;
    margin: 0 auto;
    position: relative; }
  .scheme__1234 {
    position: relative;
    top: -31px;
    background: url("../img/scheme__block-bg.png") no-repeat center 19px;
    overflow: hidden; }
  .scheme__block {
    width: 200px;
    text-align: center;
    float: left;
    margin-right: 93px; }
    .scheme__block-num {
      width: 47px;
      height: 47px;
      font-size: 16px;
      font-family: "Roboto";
      color: #3bb0eb;
      text-transform: uppercase;
      line-height: 2.625;
      text-align: center;
      border-radius: 50%;
      border: 2px solid #36aeea;
      background-color: #fff;
      margin: 0 auto 60px auto; }
    .scheme__block-icon {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      background-color: #f0f3f6;
      margin: 0 auto 30px auto;
      position: relative; }
    .scheme__block-h1 {
      font-size: 18px;
      font-family: "Roboto";
      font-weight: bold;
      color: #2c2e37;
      line-height: 1;
      text-align: center; }
    .scheme__block-p {
      font-size: 18px;
      font-family: "Roboto";
      color: #2c2e37;
      line-height: 1.333;
      text-align: center; }
  .scheme__block:nth-child(5) {
    margin-right: 25px; }
  .scheme__block:nth-child(2) {
    margin-left: 25px; }
  .scheme__circle {
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #f4d03f;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -14px; }

.icon-polyline--scheme {
  margin: 0 auto 37px auto; }

.icon-scheme_bg--pos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 53%; }

.icon-scheme_copy--pos, .icon-scheme_ok--pos, .icon-scheme_read--pos, .icon-scheme_pip--pos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.icon-scheme__drop2--pos {
  position: absolute;
  left: 5px;
  top: 138px; }

.icon-scheme__drop1--pos {
  position: absolute;
  right: 1px;
  top: 138px; }

.travel {
  height: 1098px;
  background: url("../img/backg_travel.png") #f6f4f4 center 24px no-repeat;
  background-size: cover; }
  .travel__wrap {
    width: 1130px;
    margin: 0 auto 0 auto;
    text-align: center;
    overflow: hidden; }
  .travel__h1 {
    margin: 0 auto 100px auto;
    font-size: 35.102px;
    font-family: "OpenSans";
    color: #2c2e37;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center; }
  .travel__block {
    float: left;
    margin-right: 32px;
    padding-top: 15px;
    width: 200px;
    height: 380px;
    border-radius: 1px; }
    .travel__block--1 {
      background: url("../img/travel_carp_bg.jpg") center center no-repeat; }
    .travel__block--2 {
      background: url("../img/travel_alps_bg.jpg") center center no-repeat; }
    .travel__block--3 {
      background: url("../img/travel_pyrenees_bg.jpg") center center no-repeat; }
    .travel__block--4 {
      background: url("../img/travel_rocky_bg.jpg") center center no-repeat; }
    .travel__block--5 {
      background: url("../img/travel_kavkaz_bg.jpg") center center no-repeat; }
    .travel__block-h1 {
      margin-bottom: 22px;
      font-size: 28px;
      font-family: "OpenSans";
      color: white;
      line-height: 1;
      text-align: left;
      padding-left: 22px;
      padding-right: 22px; }
    .travel__block-p {
      margin-bottom: 64px;
      font-size: 16px;
      font-family: "OpenSans";
      color: white;
      line-height: 1.375;
      text-align: left;
      padding-left: 22px;
      padding-right: 22px; }
    .travel__block-price {
      height: 61px;
      overflow: hidden;
      padding-top: 18px; }
      .travel__block-price-full {
        display: inline-block;
        width: 49%;
        vertical-align: middle;
        text-align: left;
        padding-left: 18px;
        font-size: 18px;
        font-family: "OpenSans";
        color: white;
        text-decoration: line-through;
        line-height: 1; }
      .travel__block-price-sale {
        display: inline-block;
        width: 49%;
        vertical-align: middle;
        text-align: right;
        padding-right: 13px;
        font-size: 26px;
        font-family: "OpenSans";
        color: white;
        line-height: 1; }
  .travel__block:nth-child(7) {
    margin-right: 0; }
  .travel__star {
    margin-bottom: 130px;
    padding-left: 22px;
    overflow: hidden; }

.icon-polyline--travel {
  margin: 0 auto 37px auto; }

.icon-star--travel {
  margin-right: 4px;
  float: left; }

.gallery {
  height: 944px;
  /*	&--flex
   * display: flex
   * flex-direction: column 
   * flex-wrap: wrap
   * justify-content: space-between
   * align-content: space-between
   * height: 650px */ }
  .gallery__wrap {
    width: 1130px;
    margin: 0 auto 80px auto;
    padding-top: 70px;
    overflow: hidden; }
  .gallery__h1 {
    margin: 0 auto 74px auto;
    font-size: 35.102px;
    font-family: "OpenSans";
    color: #2c2e37;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.424;
    text-align: center; }
  .gallery__col {
    float: left;
    margin-right: 24px; }
    .gallery__col img {
      display: block;
      margin-bottom: 24px; }
  .gallery__col:nth-child(5) {
    margin-right: 0; }

.icon-polyline--gallery {
  margin: 0 auto 34px auto; }

.logos {
  height: 179px;
  background-color: #f8f9fa; }
  .logos__wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 1130px;
    height: 100%;
    margin: auto; }

.our {
  height: 1277px;
  background: url("../img/backg_our.png") #f6f4f4 center center no-repeat;
  background-size: cover; }
  .our__wrap {
    width: 1130px;
    margin: 0 auto 0px auto;
    padding-top: 70px;
    overflow: hidden; }
  .our__h1 {
    font-size: 35.102px;
    font-family: "OpenSans";
    color: #2c2e37;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.424; }
  .our__people {
    width: 48%;
    float: left;
    padding-left: 13px;
    padding-right: 13px;
    margin-right: 32px;
    margin-bottom: 140px;
    overflow: hidden; }
    .our__people-quot {
      font-size: 92px;
      font-family: "LeagueGothic";
      color: #758697;
      line-height: 0.359;
      text-align: left; }
    .our__people-p {
      font-size: 18px;
      font-family: "OpenSans";
      color: #bcbcbc;
      line-height: 1.833;
      text-align: justify;
      text-align-last: left;
      margin-bottom: 20px; }
    .our__people-photo {
      display: inline-block;
      vertical-align: middle;
      background: url("../img/our_bg1.png") center center no-repeat;
      background-size: cover;
      border-radius: 50%;
      width: 65px;
      height: 65px; }
    .our__people-name {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      font-family: "OpenSans";
      color: #36aeea;
      line-height: 2.063;
      text-align: left;
      padding-left: 18px; }
  .our__people:nth-child(4) {
    margin-right: 0; }
  .our__contact {
    background: url("../img/our__contacts-bg.jpg") center center no-repeat;
    background-size: cover;
    width: 515px;
    padding: 40px 30px 0 30px;
    border-radius: 2px;
    margin: 0 auto 0 auto;
    clear: both; }
    .our__contact-h1 {
      font-size: 36px;
      font-family: "OpenSans";
      color: #36aeea;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1.2;
      text-align: center; }
    .our__contact-p {
      font-size: 16px;
      font-family: "OpenSans";
      color: #383e4a;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 40px; }
    .our__contact input {
      width: 100%;
      padding-left: 20px;
      height: 60px;
      margin-bottom: 20px;
      border-radius: 4px;
      box-shadow: none;
      border: none;
      font-size: 18px;
      font-family: "Roboto";
      color: #cccccc;
      line-height: 1.2; }
    .our__contact-send {
      height: 70px;
      background-color: #36aeea;
      text-align: center;
      padding-left: 0;
      cursor: pointer; }

.icon-polyline--our {
  margin: 0 auto 35px auto; }

.footer {
  height: 82px;
  background-color: #3e5d68; }
  .footer__wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 1130px;
    height: 100%;
    margin: auto;
    width: 1130px;
    overflow: hidden; }
  .footer__copyr {
    font-size: 18px;
    font-family: "OpenSans";
    color: #76aabd;
    line-height: 1.2;
    text-align: left; }
  .footer__social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
  .footer__twitter {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #29c5f6;
    margin-right: 8px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3); }
  .footer__facebook {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #6788ce;
    margin-right: 8px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3); }
  .footer__vk {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #54769a;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3); }
  .footer__tel {
    font-size: 27px;
    font-family: "Roboto";
    color: #7cc0d4;
    line-height: 1.2;
    text-align: left; }

.icon-footer_vk--pos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); }

.icon-footer_facebook--pos {
  margin: auto; }

.icon-footer_twitter--pos {
  margin: auto; }
